a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 20px;
}

h1,
p,
li {
  font-family: "Arial", sans-sarif;
}

h1 {
  font-size: 24px;
}

.main {
  margin-top: 7.5%;
}

.sidebar,
.content,
.image {
  overflow: hidden;
}

.header {
  width: 98.5%;
  height: 8%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-top-right-radius: 25px;
  text-align: center;
  position: fixed;
  background-color: white;
  top: 0px;
  left: 8px;
  z-index: 100;
}

.sidebar {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 1000px;
  background-color: #E8E7E3;
  font-size: 16px;
  border-top-right-radius: 15px;
}

.sidebar li {
  padding: 10px 0px 10px 0px;
  margin-bottom: 10px;
  width: 0px;
  height: 13px;
  background-color: #dddddd;
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s, ease-in-out;
  overflow: visible;
  white-space: nowrap;
  border-top-right-radius: 15px;
}

.sidebar li:hover {
  width: 100px;
}

.content {
  display: inline-block;
  position: relative;
  width: 52.5%;
  height: 1000px;
  overflow-y: auto;
}

.content p {
  padding-left: 10px;
}

.image {
  position: relative;
  display: inline-block;
  width: 22.5%;
  height: 1000px;
  border-left: 1px solid #d9d9d9;
  padding-left: 10px;
  border-top-right-radius: 15px;
  opacity: 0.6;
}

.footer {
  border-bottom: 1px solid black;
  text-align: center;
}
