a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 20px;
}
h1, p, li {
  font-family: "Arial",sans-sarif;
}

h1 {
  font-size: 24px;
}

.sidebar, .content, .image{
overflow: hidden;  
}

.sidebar {
  display: inline-block;
  width: 20%;
  height: 500px;
  background-color: #E8E7E3;
  font-size: 16px;
}



.sidebar ul {
  position: relative;
  top: 30%;
}

.sidebar li {
  padding: 10px 0px 10px 0px;
  margin-bottom: 10px;
  width: 0px;
  height: 13px;
  background-color: #dddddd;
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s, ease-in-out;
  overflow:visible;
  white-space: nowrap;
}


.sidebar li:hover{
  width:100px;
}

.content {
  display: inline-block;
  position: relative;
  width: 70%;
  height: 500px;
}

.content p {
  padding-left: 10px;
}

.image {
  float: right;
  width: 40%;
  height: 100%;
  box-shadow: 1px 2px 3px #dddddd;
}

.header {
  border-top: 1px solid black;
  border-radius: 25px;
  text-align: center;
}

.footer {
  border-bottom: 1px solid black;
  border-radius: 25px;
  text-align: center;
}
